.AboutPage-sidenav {
    height: 100%;
    margin-top: 5px;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 3px solid white;
}

.AboutPage-wrap {
    height: calc(100vh - 65px);
    overflow-y: visible;
}

.AboutPage-sections {
    color: wheat;
    display: flex;
    flex-flow: column;
    padding: 20px;
}

.AboutPage-section {
    margin-top: 20px;
}

.AboutPage-body {
    margin-left: 200px;
    width: 960px;
    margin: 10px;
    overflow-x: hidden
}

.AboutPage-block {
    width: 960px;
    margin: 20px;
    margin-left: 200px;
}

.AboutPage-header {
    color: rgb(91, 131, 169);
    width: 900px;
    margin-bottom: 10px;
    margin-left: 220px;
    margin-top: 5px;
}

.AboutPage-description {
    color: white;
    width: 33vw;
    margin-bottom: 5px;
    width: 960px;
    margin: 20px;
    margin-left: 220px;
}




.HomePage-orbContainer {
    display: flex;
    justify-content: flex-end;
}

.HomePage-Orb {
    position: absolute;
    top: 0;
    width: 300px;
    height: 300px;
    transform: scale(0.5,0.5);
    border-radius: 50%;

    transition: all .5s ease;

    position: absolute;
    left: 0;

    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    /* margin-left: 30px; 
    margin-top: 5px;  */
    transition-delay: 6s;
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px) scale(0.5,0.5); } 
    50%  { transform: translate(0, 16px) scale(0.5,0.5); } 
    100%   { transform: translate(0, -0px) scale(0.5,0.5); }     
}

.HomePage-Orb:nth-child(1) {
    left: 0vw;
    animation-delay: 0.5s;
}

.HomePage-Orb:nth-child(2) {
    left: 20vw;
    animation-delay: 1s;
}

.HomePage-Orb:nth-child(3) {
    left: 40vw;
    animation-delay: 1.5s;
}

.HomePage-Orb:nth-child(4) {
    left: 60vw;
    animation-delay: 2s;
}

.HomePage-Orb:nth-child(5) {
    left: 80vw;
    animation-delay: 2.5s;
}

.HomePage-joy {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 150px #ffd700,
        inset -20px 0 150px #ffd700,
        inset 150px 0 300px #ffd700,
        inset -20px 0 300px #ffd700,
        0 0 50px #fff,
        -10px 0 80px #ffd700,
        10px 0 80px #ffd700;
}

.HomePage-sadness {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #4361EE,
        inset -20px 0 80px #4361EE,
        inset 20px 0 300px #4361EE,
        inset -20px 0 300px #4361EE,
        0 0 50px #fff,
        -10px 0 80px #4361EE,
        10px 0 80px #4361EE;
}

.HomePage-anger {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #D00000,
        inset -20px 0 80px #D00000,
        inset 20px 0 300px #D00000,
        inset -20px 0 300px #D00000,
        0 0 50px #fff,
        -10px 0 80px #D00000,
        10px 0 80px #D00000;
}

.HomePage-fear {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #8900f2,
        inset -20px 0 80px #8900f2,
        inset 20px 0 300px #8900f2,
        inset -20px 0 300px #8900f2,
        0 0 50px #fff,
        -10px 0 80px #8900f2,
        10px 0 80px #8900f2;
}

.HomePage-disgust {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #80b918,
        inset -20px 0 80px #80b918,
        inset 20px 0 300px #80b918,
        inset -20px 0 300px #80b918,
        0 0 50px #fff,
        -10px 0 80px #80b918,
        10px 0 80px #80b918;
}

.HomePage-Orb:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.HomePage-Orb:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.HomePage-Orb .HomePage-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.HomePage-joy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.HomePage-sadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.HomePage-anger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #D00000;
}

.HomePage-fear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.HomePage-disgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}