.AboutPage-body {
    top: 65px;
    width: 100vw;
    height: calc(100vh - 65px);
    overflow-y: scroll;
}

.AboutPage-header {
    color: rgb(91, 131, 169);
    width: 900px;
    margin-bottom: 10px;
    margin-left: 8vw;
    margin-top: 5px;
    padding-top: 10px;
    font-size: 50px;
    font-weight: normal;
}

.AboutPage-description {
    color: white;
    width: 33vw;
    margin-bottom: 5px;
    width: 960px;
    margin: 20px;
    margin-left: 8vw;
    font-size: 18px;
}

a:link {
    color: rgb(91, 131, 169),
}

.AboutPage-orbContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    position: relative;
    width: 100vw;
    margin-left: -1vw;
    /* margin-right: 15vw; */
}

.AboutPage-Orb {
    position: relative;
    top: 0;
    width: 250px;
    height: 250px;
    transform: scale(0.5,0.5);
    border-radius: 50%;
    transition: all .5s ease;

    animation-name: AboutPage-floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
} 
  
@keyframes AboutPage-floating { 
    0% { transform: translate(0,  0px) scale(0.5,0.5); } 
    50%  { transform: translate(0, 16px) scale(0.5,0.5); } 
    100%   { transform: translate(0, -0px) scale(0.5,0.5); }     
}

.AboutPage-Orb:nth-child(1) {
    left: 0vw;
    animation-delay: 0.5s;
}

.AboutPage-Orb:nth-child(2) {
    margin-left: -1vw;
    animation-delay: 1s;
}

.AboutPage-Orb:nth-child(3) {
    margin-left: -1vw;
    animation-delay: 1.5s;
}

.AboutPage-Orb:nth-child(4) {
    margin-left: -1vw;
    animation-delay: 2s;
}

.AboutPage-Orb:nth-child(5) {
    margin-left: -1vw;
    animation-delay: 2.5s;
}

.AboutPage-joy {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 150px #ffd700,
        inset -20px 0 150px #ffd700,
        inset 150px 0 300px #ffd700,
        inset -20px 0 300px #ffd700,
        0 0 50px #fff,
        -10px 0 80px #ffd700,
        10px 0 80px #ffd700;
}

.AboutPage-sadness {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #4361EE,
        inset -20px 0 80px #4361EE,
        inset 20px 0 300px #4361EE,
        inset -20px 0 300px #4361EE,
        0 0 50px #fff,
        -10px 0 80px #4361EE,
        10px 0 80px #4361EE;
}

.AboutPage-anger {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #D00000,
        inset -20px 0 80px #D00000,
        inset 20px 0 300px #D00000,
        inset -20px 0 300px #D00000,
        0 0 50px #fff,
        -10px 0 80px #D00000,
        10px 0 80px #D00000;
}

.AboutPage-fear {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #8900f2,
        inset -20px 0 80px #8900f2,
        inset 20px 0 300px #8900f2,
        inset -20px 0 300px #8900f2,
        0 0 50px #fff,
        -10px 0 80px #8900f2,
        10px 0 80px #8900f2;
}

.AboutPage-disgust {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #80b918,
        inset -20px 0 80px #80b918,
        inset 20px 0 300px #80b918,
        inset -20px 0 300px #80b918,
        0 0 50px #fff,
        -10px 0 80px #80b918,
        10px 0 80px #80b918;
}

.AboutPage-Orb:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}

.AboutPage-Orb:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.AboutPage-Orb .AboutPage-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.AboutPage-joy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.AboutPage-sadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.AboutPage-anger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #D00000;
}

.AboutPage-fear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.AboutPage-disgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}