.HomePage-outer {
    display: flex;
    justify-content: left;
    margin-left: 17vw;
}
.HomePage-ball {
    position: relative;
    top: 15vh;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #ffd700,
        inset -20px 0 80px #022ae0,
        inset 20px 0 300px #D00000,
        inset -20px 0 300px #D00000,
        0 0 50px #fff,
        -10px 0 80px #ffd700,
        10px 0 80px #022ae0;

    -webkit-animation: spin 400ms linear 3.3, moveLeftToRight 5s linear 1;
    -moz-animation: spin 400ms linear 3.3, moveLeftToRight 5s linear 1;
    -ms-animation: spin 800ms linear 3.3, moveLeftToRight 5s linear 1;
    animation: spin 1500ms linear 3.3, moveLeftToRight 5s linear 1;
    
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.HomePage-ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.HomePage-ball:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    -webkit-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -moz-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -ms-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    -o-transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.HomePage-ball .HomePage-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-150px);
    -moz-transform: rotateX(90deg) translateZ(-150px);
    -ms-transform: rotateX(90deg) translateZ(-150px);
    -o-transform: rotateX(90deg) translateZ(-150px);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Move sphere from left to right */
@-moz-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100vw; }
}
@-ms-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100vw; }
}
@keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100vw; }
}
@-webkit-keyframes moveLeftToRight {
    0%   { left: -100px; }
    100% { left: 100vw; }
}

.HomePage-ball:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #4361EE;
}

.HomePage-textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 52vw;
    margin-top: -32vh;
}

#HomePage-wrap {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.HomePage-block {
    width: 90%;
    height: 100vh;
    margin-top: 80px;
    /* margin-bottom: 80px; */
}

.HomePage-header {
    width: 900px;
    margin-bottom: 10px;
}

.HomePage-description {
    color: white;
    width: 33vw;
    margin-bottom: 5px;
}

.HomePage-button {
    width: 190px;
    height: 50px;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    border-radius: 2em;
    margin-top: 15px;
    box-sizing: border-box;
    text-transform:uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #313131;
    text-align:center;
    transition: all 0.15s;
    box-shadow: 0 0 15px 5px #fff;
    cursor: pointer;
}

.HomePage-memory {
    text-align: center;
    /* padding-top: 10vh; */
    /* margin-top: 20vh; */
}
