/* PLACEHOLDER CONTAINERS RN*/


.Welcome-container {
    background-color: black;
}

.UsernameInput-container {
    background-color: black;
}

.Button-container {
    color: black;
}

.submitButton-container {
    background-color: green;
    font-size: 50px;
    /* border
    color
    padding
    text-align
    text-decoration
    font-size
    display (by default inline-block) */

}

