@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.ShelfPage-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    background-color: #131313;
}

.ShelfPage-container {
    display: grid;
    align-content: center;
}

.ShelfPage-row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100vw;
    height: 300px;
    margin: 20px;
}