@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.ShelfPage-row {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(4,1fr) 400px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100vw;
    height: calc(100vh - 65px);
    /* margin: 20px; */
    overflow-y: scroll;
    row-gap: 10px;
    /* margin-left: 15px; */
}

.Shelf-title {
    text-align: center;
    color: white
}

.ShelfPage-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-top: 5vh;
    height: 50vh;

}

.prev {
    content: " ";
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;
    margin-left: 10vh;
}

.next {
    content: " ";
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    cursor: pointer;
    display: block;

}

.ShelfPage-arrow {
    color: white;
    margin-left: 0px;
}

.Error-text {
    color: white;
    text-align: center;
    font-size: 20px;
}