
#particles-js {
    position: absolute !important;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgb(0, 0, 14);
}


.SocialPage-body {
    /* margin-top: 6vh;
    margin-left: 6vw; */
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

.SocialPage-wrap {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.Search-message {
    color: white;
    font-size: 48px;
    width: 700px;
    text-shadow: 0 0 20px #fff, 0 0 40px #2b4ebe, 0 0 50px #4276e6;
}

.Search-container {
    color: gray;
    padding: 3px;
    width: 20vw;;
}

.Search-popup {
    padding: 3px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Text-message {
    color: white;
    font-size: 28px;
    text-shadow:1px 1px 5px #fff, 1px 1px 10px #fff;
}

.SocialPage-friends {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.flex-container {
    display: flex;
}

.flex-child:nth-child(1) {
    flex: 1;
    color: white;
    margin-right: 20px;
}  

.flex-child:nth-child(2) {
    flex: 1;
    color: white;
    margin-top: 20vh;
    font-size: 24px;
    margin-right: 30vh;
    
} 