#particles-js {
    position: absolute !important;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: black;
}

.SocialPage-body {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
}

.SocialPage-wrap {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.Search-message {
    color: white;
    font-size: 48px;
    width: 700px;
    text-shadow: 0 0 20px #fff, 0 0 40px #2b4ebe, 0 0 50px #4276e6;
}

.Search-container {
    color: rgb(39, 40, 45);
    padding: 3px;
    width: 30vw;
    height: 36px;
    background: rgb(143, 168, 193);
    opacity: 0.4;
    outline-style: none;
    border-radius: 5px;
    margin-left: -23.5vw;
}

.Search-popup {
    padding: 3px;
    height: 34px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Text-message {
    color: white;
    font-size: 28px;
    text-shadow:1px 1px 5px #fff, 1px 1px 10px #fff;
}

.SocialPage-friends {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.SocialPage-search{
    padding: 10px;
    margin-top: 19vh;
    margin-left: 25vw;
    margin-bottom: 5vh;
}

.SocialPage-column2{
    color: white;
    font-size: 19px;
    text-align: left;
}

.SocialPage-column1, .SocialPage-column2 {
    float: left;
    margin: 10px;
    width: 340px;
    padding: 5px;
    margin-left: 15vw;
    margin-right: -15vw;
}

.SocialPage-columns {
    position: absolute;
    display: flex;
    flex-flow: row;
    margin-left: 10vw;
}

.SocialPage-welcome {
    float: left;
}

.SocialPage-highlight {
    float: left;
    text-shadow: 0 0 20px #fff, 0 0 40px #2b4ebe, 0 0 50px #4276e6
}

.SocialPage-line {
    margin: 10px;
    margin-left: -1vw;
}