

.SocialPage-body {
    margin-top: 6vh;
    margin-left: 6vw;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
}

.SocialPage-wrap {
    height: calc(100vh - 65px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.Search-message {
    color: white;
}

.Search-container {
    color: gray;
    padding: 3px;
}

.Search-popup {
    padding: 3px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Text-message {
    color: white;
}

.SocialPage-friends {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.flex-container {
    display: flex;
}

.flex-child:nth-child(1) {
    flex: 1;
    color: white;
    margin-right: 20px;
}  

.flex-child:nth-child(2) {
    flex: 1;
    color: white;
    margin-top: 10vh;
    font-size: 20px;
    
} 