.MultiOrb-clear {
    width: 26vw;
    height: 26vw;
    transform: scale(0.3,0.3);
    border-radius: 50%;

    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #ffffff00,
        inset -20px 0 80px #ffffff00,
        inset 20px 0 26vw #ffffff00,
        inset -20px 0 26vw #ffffff00,
        0 0 50px #fff,
        -10px 0 80px #ffffff00,
        10px 0 80px #ffffff00;

    transition: all 1s ease;
    cursor: pointer;
}

.MultiOrb-container {
    max-height: 48.3px;
}

.MultiOrb-clear:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.MultiOrb-clear:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.MultiOrb-clear .MultiOrb-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%); */
    z-index: -1;
}

body {
    background: black;
}

.MultiOrb-clear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffffff00,
    inset -20px 0 80px #ffffff00,
    inset 20px 0 26vw #ffffff00,
    inset -20px 0 26vw #ffffff00,
    0 0 70px #fff,
    -10px 0 80px #ffffff00,
    10px 0 80px #ffffff00;
}

.MultiOrb-joy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.MultiOrb-sadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.MultiOrb-anger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #D00000;
}

.MultiOrb-fear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.MultiOrb-disgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}

.MultiOrb-joysadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #ffd700;
}

.MultiOrb-joyanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #D00000;
}

.MultiOrb-angerjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #ffd700;
}

.MultiOrb-joyfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #8900f2;
}

.MultiOrb-fearjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #ffd700;
}

.MultiOrb-joydisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #80b918;
}

.MultiOrb-disgustjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #ffd700;
}

.MultiOrb-sadnessanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #D00000;
}

.MultiOrb-angersadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #8900f2;
}

.MultiOrb-fearsadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessdisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #80b918;
}

.MultiOrb-disgustsadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #4361EE;
}

.MultiOrb-angerfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #8900f2;
}

.MultiOrb-fearanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #D00000;
}

.MultiOrb-angerdisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #80b918;
}

.MultiOrb-disgustanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #D00000;
}

.MultiOrb-feardisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #80b918;
}

.MultiOrb-disgustfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #8900f2;
}







.MultiOrb-joy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 20px 0 26vw #ffd700,
    inset -20px 0 26vw #ffd700,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.MultiOrb-sadness {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #4361EE,
        inset -20px 0 80px #4361EE,
        inset 20px 0 26vw #4361EE,
        inset -20px 0 26vw #4361EE,
        0 0 50px #fff,
        -10px 0 80px #4361EE,
        10px 0 80px #4361EE;
}

.MultiOrb-sadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 20px 0 26vw #4361EE,
    inset -20px 0 26vw #4361EE,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.MultiOrb-fear {
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 20px 0 26vw #8900f2,
    inset -20px 0 26vw #8900f2,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.MultiOrb-fear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 20px 0 26vw #8900f2,
    inset -20px 0 26vw #8900f2,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.MultiOrb-anger {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #D00000,
        inset -20px 0 80px #D00000,
        inset 20px 0 26vw #D00000,
        inset -20px 0 26vw #D00000,
        0 0 50px #fff,
        -10px 0 80px #D00000,
        10px 0 80px #D00000;
}

.MultiOrb-anger:hover {
    box-shadow:
        inset 0 0 200px #fff,
        inset 20px 0 80px #D00000,
        inset -20px 0 80px #D00000,
        inset 20px 0 26vw #D00000,
        inset -20px 0 26vw #D00000,
        0 0 70px #fff,
        -10px 0 80px #D00000,
        10px 0 80px #D00000;
}

.MultiOrb-disgust {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #80b918,
        inset -20px 0 80px #80b918,
        inset 20px 0 26vw #80b918,
        inset -20px 0 26vw #80b918,
        0 0 50px #fff,
        -10px 0 80px #80b918,
        10px 0 80px #80b918;
}

.MultiOrb-disgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 20px 0 26vw #80b918,
    inset -20px 0 26vw #80b918,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}