.MultiOrb-week {
    color: white;
    width: 70px;
    position: relative;
    left: 0px;
    top: 0px;
    padding: 20px;
}

.MultiOrb-date {
    color: white;
    width: 70px;
    position: relative;
    left: 50%;
    top: 0px;
    font-size: 12px; 
}

.MultiOrb-weekContainer {
    height: 30px;
    width: 180px;
    left: 30px;
}
.MultiOrb-orb {
    width: 26vw;
    height: 26vw;
    transform: scale(0.4,0.4);
    margin-top: 15vh;
    margin-left: -9vw;
    margin-right: -9vw;
    border-radius: 50%;
    transition: all 1s ease;
    cursor: pointer;

    animation-name: MultiOrb-floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
} 
  
@keyframes MultiOrb-floating { 
    0% { transform: translate(0,  0px) scale(0.4,0.4); } 
    50%  { transform: translate(0, 2px) scale(0.4,0.4); } 
    100%   { transform: translate(0, 0px) scale(0.4,0.4); }     
}

.MultiOrb-orb:nth-child(1) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 0.5s;
}

.MultiOrb-orb:nth-child(2) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 1s;
}

.MultiOrb-orb:nth-child(3) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 1.5s;
}

.MultiOrb-orb:nth-child(4) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 2s;
}

.MultiOrb-orb:nth-child(5) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 2.5s;
}

.MultiOrb-orb:nth-child(6) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 3s;
}

.MultiOrb-orb:nth-child(7) {
    flex-basis: 0;
    flex-grow: 1;
    animation-delay: 3.5s;
}

.MultiOrb-container {
    max-height: 48.3px;
}

.MultiOrb-orb:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.MultiOrb-orb:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.MultiOrb-orb .MultiOrb-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body {
    background: black;
}

.MultiOrb-clear {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #ffffff00,
        inset -20px 0 80px #ffffff00,
        inset 20px 0 26vw #ffffff00,
        inset -20px 0 26vw #ffffff00,
        0 0 50px #fff,
        -10px 0 80px #ffffff00,
        10px 0 80px #ffffff00;
}

.MultiOrb-clear:hover {
    box-shadow:
        inset 0 0 200px #fff,
        inset 20px 0 80px #ffffff00,
        inset -20px 0 80px #ffffff00,
        inset 20px 0 300px #ffffff00,
        inset -20px 0 300px #ffffff00,
        0 0 70px #fff,
        -10px 0 80px #ffffff00,
        10px 0 80px #ffffff00;
}

.MultiOrb-mixed {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #ffd700,
        inset -20px 0 80px #022ae0,
        inset 20px 0 300px #D00000,
        inset -20px 0 300px #D00000,
        0 0 50px #fff,
        -10px 0 80px #ffd700,
        10px 0 80px #022ae0;
}

.MultiOrb-mixed:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #022ae0,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #022ae0;
}

.MultiOrb-joy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.MultiOrb-joy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #ffd700;
}

.MultiOrb-sadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.MultiOrb-sadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}

.MultiOrb-anger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #D00000;
}

.MultiOrb-anger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #D00000;
}

.MultiOrb-fear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.MultiOrb-anger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #8900f2;
}

.MultiOrb-disgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}

.MultiOrb-disgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #80b918;
}

.MultiOrb-joysadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #4361EE;
}

.MultiOrb-joysadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #ffd700;
}

.MultiOrb-sadnessjoy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #ffd700;
}

.MultiOrb-joyanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #D00000;
}

.MultiOrb-joyanger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #D00000;
}

.MultiOrb-angerjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #ffd700;
}

.MultiOrb-angerjoy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #ffd700;
}

.MultiOrb-joyfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #8900f2;
}

.MultiOrb-joyfear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #8900f2;
}

.MultiOrb-fearjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #ffd700;
}

.MultiOrb-fearjoy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #ffd700;
}

.MultiOrb-joydisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #ffd700,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #80b918;
}

.MultiOrb-joydisgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #ffd700,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #ffd700,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #ffd700,
    10px 0 80px #80b918;
}

.MultiOrb-disgustjoy {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #ffd700,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #ffd700,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #ffd700;
}

.MultiOrb-disgustjoy:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #ffd700,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #ffd700,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #ffd700;
}

.MultiOrb-sadnessanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #D00000;
}

.MultiOrb-sadnessanger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #D00000;
}

.MultiOrb-angersadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #4361EE;
}

.MultiOrb-angersadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #8900f2;
}

.MultiOrb-sadnessfear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #8900f2;
}

.MultiOrb-fearsadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #4361EE;
}

.MultiOrb-fearsadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #4361EE;
}

.MultiOrb-sadnessdisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #4361EE,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #80b918;
}

.MultiOrb-sadnessdisgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #80b918;
}

.MultiOrb-disgustsadness {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #4361EE,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #4361EE,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #4361EE;
}

.MultiOrb-disgustsadness:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #4361EE;
}

.MultiOrb-angerfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #8900f2;
}

.MultiOrb-angerfear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #8900f2;
}

.MultiOrb-fearanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #D00000;
}

.MultiOrb-fearanger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #D00000;
}

.MultiOrb-angerdisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #D00000,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #80b918;
}

.MultiOrb-angerdisgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #D00000,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #D00000,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #D00000,
    10px 0 80px #80b918;
}

.MultiOrb-disgustanger {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #D00000,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #D00000,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #D00000;
}

.MultiOrb-disgustanger:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #D00000,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #D00000,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #D00000;
}

.MultiOrb-feardisgust {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #80b918,
    inset 100px 0 100px #8900f2,
    inset -20px 0 300px #80b918,
    0 0 50px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #80b918;
}

.MultiOrb-feardisgust:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #8900f2,
    inset -20px 0 80px #80b918,
    inset 20px 0 300px #8900f2,
    inset -20px 0 300px #80b918,
    0 0 70px #fff,
    -10px 0 80px #8900f2,
    10px 0 80px #80b918;
}

.MultiOrb-disgustfear {
    box-shadow:
    inset 0 0 130px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #8900f2,
    inset 100px 0 100px #80b918,
    inset -20px 0 300px #8900f2,
    0 0 50px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #8900f2;
}

.MultiOrb-disgustfear:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #80b918,
    inset -20px 0 80px #8900f2,
    inset 20px 0 300px #80b918,
    inset -20px 0 300px #8900f2,
    0 0 70px #fff,
    -10px 0 80px #80b918,
    10px 0 80px #8900f2;
}