.NavBar-inlineBlock {
  position: absolute;
  top: 0;
  display: inline-block;
  padding: var(--l) var(--l);
}

.NavBar-container {
  padding: var(--s) var(--l);
  background-color: black;
  height: 65px
}

.NavBar-title {
  color: black;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}

.NavBar-linkContainer {
  margin-left: var(--l);
}


.NavBar-link {
  color: white;
  text-shadow:1px 1px 5px #fff, 1px 1px 10px #fff;
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--l);
}

.NavBar-logout {
  position: absolute;
  top: 10px;
  right: 20px;
}