@import url(`https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap`);
*

{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}

.NewMemory-container:active {
    position: relative;
}

.NewMemory-container .NewMemory-card {
    position: relative;
    width: 600px;
    height: 800px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.NewMemory-container .NewMemory-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    clip-path: circle(200px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.NewMemory-container .NewMemory-card:hover::before {
    clip-path: circle(550px at 80% -20%);
}

.NewMemory-container .NewMemory-card::after {
    content: "Entry";
    position: absolute;
    top: 50%;
    left: 26%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.NewMemory-container .NewMemory-card .NewMemory-imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    width: 100%;
    height: 600px;
    transition: 0.5s;
}

.NewMemory-container .NewMemory-card:hover .NewMemory-imgBx {
    top: 2%;
    transform: translateY(0%);
}

.NewMemory-container .NewMemory-card .NewMemory-imgBx img {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -20%) rotate(-25deg);
    width: 330px;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.NewMemory-container .NewMemory-card:hover .NewMemory-contentBx {
    height: 450px;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx h2 {
    position: relative;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1px;
    color: #fff;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.NewMemory-container .NewMemory-card:hover .NewMemory-contentBx .NewMemory-color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span {
    width: 30px;
    height: 30px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    /* CURSOR IS NOT CAUSING POINTER?? */
    cursor: pointer;
    pointer-events: auto;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color {
    cursor: pointer;
    pointer-events: auto;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span:nth-child(2) {
    background: #FFCA3A;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span:nth-child(3) {
    background: #1982C4;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span:nth-child(4) {
    background: #FF595E;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span:nth-child(5) {
    background: #6A4C93;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-color span:nth-child(6) {
    background: #8AC926;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx .NewMemory-box {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.NewMemory-container .NewMemory-card:hover .NewMemory-contentBx .NewMemory-box {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.NewMemory-container .NewMemory-card .NewMemory-contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.NewMemory-container .NewMemory-card:hover .NewMemory-contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}