@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.orbContent-container {
    position: relative;
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(219, 219, 219, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 10000;
    margin-right: 2vw;
    margin-left: -2vw;
    box-shadow: 0 0 25px 10px #fff;
}

.orbContent-text {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 25%;
    overflow: scroll;
}

.orbContent-date {
    position: absolute;
    top: 0px;
    right: 4px;
    font-size: 10px;
}

.orbContent-delete{
    display: inline-block;
}

.orbContent-cancel{
    display: inline-block;
}

.orbContent-container button {
    position: absolute;
    bottom: 10px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
}

.orbContent-container button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}