@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*

{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.orbContent-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 25vw;
    min-width: 250px;
    height: 60vh;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(219, 219, 219, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    z-index: 10000;
    margin-right: 2vw;
    margin-left: -2vw;
    box-shadow: 0 0 25px 10px #fff;
}

.orbContent-text {
    position: relative;
    font-size:18px;
    margin: 40px;
}

.orbContent-images {
    position: relative;
    margin: 5px;
    border-radius: 5px;
}

.orbContent-date {
    position: absolute;
    top: 0px;
    right: 4px;
    margin: 3px;
    padding: 3px;
    font-size: 13px;
}

.orbContent-delete {
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.orbContent-cancel {
    display: inline-block;
    cursor: pointer;
    margin: 2px;
}

.orbContent-buttons {
    display: flex;
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 8px;
    width: 100%;
    cursor: pointer;
}

.orbContent-container button {
    bottom: 10px;
    padding: 5px 10px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
}

.orbContent-container button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;
}

.NoImage-text {
    position: absolute;
    margin-left: -1.5vw;
    width: 100px;
}

.Resize-image {
    position: relative;
    /* top: 50%;
    left: 50%; */
    padding: 5px;
    /* margin-top: -6vh;
    margin-left: -6vw; */
    width: 160px;
    text-align: center;
}

.orbContent-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}