.SingleOrb-ball {
    width: 26vw;
    height: 26vw;
    transform: scale(0.3,0.3);
    margin: -12vh -4vw -15vh -8vw;
    border-radius: 50%;

    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #4361EE,
        inset -20px 0 80px #4361EE,
        inset 20px 0 300px #4361EE,
        inset -20px 0 300px #4361EE,
        0 0 50px #fff,
        -10px 0 80px #4361EE,
        10px 0 80px #4361EE;

    transition: all 1s ease;
}
.SingleOrb-ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
}
.SingleOrb-ball:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
}
  
.SingleOrb-ball .SingleOrb-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%); */
    z-index: -1;
}
.SingleOrb-stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    perspective: 1200px;
}

body {
    background: black;
}

.SingleOrb-ball:hover {
    box-shadow:
    inset 0 0 200px #fff,
    inset 20px 0 80px #4361EE,
    inset -20px 0 80px #4361EE,
    inset 20px 0 300px #4361EE,
    inset -20px 0 300px #4361EE,
    0 0 70px #fff,
    -10px 0 80px #4361EE,
    10px 0 80px #4361EE;
}